<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            header{
                max-width: 960px;
                width:;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }

            .google-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #ff5353;
                margin-left: 20px;
            }
            .twitter-btn{
                text-decoration: none;
                font-size: 18px;
                min-width: 100px;
                min-height: 100px;
                padding: 10px 10px 10px 170px;
                margin-left: 20px;
                background-image: url("https://www.inyoursoup.com/images/signup-with-twitter-button@8x.png");
                background-size: cover;
            }
            .facebook-btn{
                text-decoration: none;
                font-size: 18px;
                min-width: 100px;
                min-height: 100px;
                padding: 10px 10px 10px 210px;
                margin-left: 20px;
                background-image: url("https://dancourseuk.files.wordpress.com/2015/02/sign-in-facebook.png");
                background-size: cover;
            }
             .spotify-btn{
                text-decoration: none;
                font-size: 18px;
                min-width: 100px;
                min-height: 100px;
                padding: 10px 10px 14px 250px;
                margin-left: 20px;
                background-image: url("https://uptune.herokuapp.com/assets/login-button-mobile-82c2ef9bca0473f7f2ce860eca70cfb7318b25edf58d27994a0a5f5ae1a5d6f4.png");
                background-size: cover;
            }

             .github-btn{
                text-decoration: none;
                font-size: 18px;
                min-width: 100px;
                min-height: 100px;
                padding: 30px 10px 10px 200px;
                margin-left: 20px;
                background-image: url(" https://mattstauffer.com/assets/images/content/Screen-Shot-2015-07-16-at-1.45.52-PM.png");
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login using...</h1>
        </header>
        
            <a class="google-btn" href="/auth/google">Google+</a>
            <br />
            <br />
            <br />
            <a class="twitter-btn" href="/auth/twitter"></a>
            <br />
            <br />
            <br />
            <a class="facebook-btn" href="/auth/facebook"></a>
            <br />
            <br />
            <br />
            <a class="spotify-btn" href="/auth/spotify"></a>
            <br />
            <br />
            <br />
            <br />
            <a class="github-btn" href="/auth/github"></a>
    </body>
</html>
